<!DOCTYPE html>
<html lang="en">

{{> ../head }}

<body>
  {{#courses}}
  <table>
    <caption>
      <span>{{title}}</span>
      <span>({{units}})</span>
    </caption>
    <thead>
      <th scope="col">Section</th>
      <th scope="col">Days</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Instructor</th>
      <th scope="col">Max</th>
      <th scope="col">Free</th>
    </thead>
    <tbody>
      {{#sections}}
      <tr>
        <td>{{section}}</td>
        <td>{{days}}</td>
        <td>{{startTime}}</td>
        <td>{{endTime}}</td>
        <td>{{instructor}}</td>
        <td>{{maxSeats}}</td>
        <td>{{freeSeats}}</td>
      </tr>
      {{/sections}}
    </tbody>
  </table>
  {{/courses}}
  <script type="text/javascript" src="Schedule/Schedule.js"></script>
</body>

</html>
