<form>
  <fieldset>
    <legend>Select departments</legend>
    <div class="departments">
      {{#departments}}
      <input type="checkbox" name="departments" id="{{code}}">
      <label for="{{code}}" class="department-button">{{name}}</label>
      {{/departments}}
    </div>
  </fieldset>
</form>
