table.course-table {
  width: inherit;
  table-layout: fixed;
  border-collapse: collapse;

  width: 42.5rem;
  font: 300 1rem "Open Sans", Helvetica, sans-serif;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: hsl(0, 0.0%, 95.0%);
  color: hsl(0, 0.0%, 25.0%);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.course-caption {
  padding: 1.5rem 1.5rem 1.0rem 1.5rem;
  background-color: hsl(0, 0.0%, 95.0%);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: left;
}

.course-caption__cid {
  display: block;
  font-size: 1rem;
}

.course-caption__title {
  font-size: 1.2rem;
}

.course-caption__units {
  display: block;
  float: right;
  font-size: 0.833rem;
}

thead th {
  color: hsl(201, 77.9%, 26.7%);
  font-weight: 300;
  font-size: 0.833rem;
}

thead th:nth-child(1) {
  text-align: left;
  width: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 3.0rem;
}

thead th:nth-child(2) {
  text-align: left;
  width: 2.5rem;
}

thead th:nth-child(3) {
  text-align: right;
  width: 4.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

thead th:nth-child(4) {
  text-align: right;
  width: 4.5rem;
}

thead th:nth-child(5) {
  text-align: left;
  padding-left: 4.0rem;
  padding-right: 1.0rem;
}

thead th:nth-child(6) {
  text-align: right;
  width: 2.0rem;
}

thead th:nth-child(7) {
  text-align: right;
  width: 2.0rem;
  padding-left: 0.75rem;
  padding-right: 1.5rem;
}

tr {
  border-top: 1px solid hsl(0, 0.0%, 85.0%);
  border-bottom: 1px solid hsl(0, 0.0%, 85.0%);
}

tr:last-child {
  border-bottom: initial;
}

/* tr:nth-child(even) {
  background-color: hsl(0, 0.0%, 90.0%);
} */

td, th {
  padding: 0.5rem 0;
}

tbody td:nth-child(1) {
  padding-left: 1.5rem;
  padding-right: 3.0rem;
}

tbody td:nth-child(2) {
  word-break: break-all;
}

tbody td:nth-child(3) {
  text-align: right;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

tbody td:nth-child(4) {
  text-align: right;
}

tbody td:nth-child(5) {
  padding-left: 4.0rem;
  padding-right: 1.0rem;
}

tbody td:nth-child(6) {
  text-align: right;
}

tbody td:nth-child(7) {
  text-align: right;
  padding-left: 0.75rem;
  padding-right: 1.5rem;
}