body {
  margin: 1rem 0.5rem;
}


fieldset {
  border: none;
}

legend {
  font: 400 1rem "Source Sans Pro", Helvetica, sans-serif;  
}

.course-select {
  width: 100%;
  margin-top: -1rem;
  list-style: none;
  padding-left: 0;
}

.department-heading {
  font: 400 1rem "Source Sans Pro", Helvetica, sans-serif;  
  margin-top: 1rem;
  color: #0f5479;
  cursor: pointer;
}

.department-heading:before {
  font-size: 1rem;
  content: "▸";
  margin-right: 0.25rem;
}

.department-heading:hover {
  color: #988556;
  transition: color 0.1s ease;
}

.department-heading:hover:before {
  color: #988556;
  transition: color 0.1s ease;
}

.department-courses {
  padding-left: 1.5rem;
  font: 300 1rem "Open Sans", Helvetica, sans-serif;
  color: #000;
  background-color: #FFF;  
  list-style: none;
}

.course {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 0.0625rem dashed #EEE;
}

/* .department-courses > li:hover {
  background-color: #988556;
  color: #FFF;
  transition: background-color 0.2s linear;
} */

label {
  cursor: pointer;
}

.course-title {
  flex-basis: 16rem;
  flex-grow: 0;
}

.course-department {

}

.course-department:after {
  content: "-";
}

.course-number {
  flex-basis: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
}