<!DOCTYPE html>
<html lang="en">

{{> ../head }}

<body>
  <form>
    <fieldset>
      <legend>Choose your courses</legend>
      <ul class="course-select">
        {{#departments}}
        <li class="department">
          <h1 class="department-heading">
            <div role="button" aria-controls="{{code}}" aria-expanded="false" tabindex="0">
              {{name}} ({{code}})
            </div>
          </h1>
          <ul class="department-courses" id="{{code}}" hidden>
            {{#courses}}
            <li class="course-item">
              <label for="{{code}}-{{courseNumber}}" class="course">
                <input type="checkbox" name="courses" id="{{code}}-{{courseNumber}}" value="{{code}}-{{courseNumber}}">
                <div class="course-title">{{title}}</div>
                <div class="course-id">
                  <span class="course-department">{{code}}</span>
                  <span class="course-number">{{courseNumber}}</span>
                </div>
              </label>
            </li>
            {{/courses}}
          </ul>
        </li>
        {{/departments}}
      </ul>
    </fieldset>
  </form>
  <script type="text/javascript" src="CourseSelect/CourseSelect.js"></script>
</body>

</html>