<!DOCTYPE html>
<html lang="en">

{{> ../head }}

<body>
  <form>
    <fieldset>
      <legend>Choose your courses</legend>
      <ul class="course-select">
        {{#departments}}
        <li class="department">
          <div class="department-heading">{{name}} ({{code}})</div>
          <ul class="department-courses">
            {{#courses}}
            <li class="course-item">
              <label for="{{code}}-{{courseNumber}}" class="course">
                <input type="checkbox" name="courses" id="{{code}}-{{courseNumber}}" value="{{code}}-{{courseNumber}}">
                <div class="course-title">{{title}}</div>
                <div class="course-id">{{courseNumber}}</div>
              </label>
            </li>
            {{/courses}}
          </ul>
        </li>
        {{/departments}}
      </ul>
    </fieldset>
  </form>
</body>

</html>