:root {
  font-size: 100%; /* for user stylesheets, accessibility */
  margin: 0;
  background-color: hsl(201, 77.9%, 26.7%);
}

fieldset {
  margin-top: 1rem;
  border: none;
}

legend {
  font: 300 1rem "Open Sans", Helvetica, sans-serif;
  color: #FFF;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(201, 77.9%, 32.0%);
  text-align: center;
}

.course-select {
  width: 100%;
  margin-top: -1rem;
  list-style: none;
  padding-left: 0;
}

.department {
  margin-top: 1rem;
}

.department-heading {
  display: flex;
  font: 600 1rem "Open Sans", Helvetica, sans-serif;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 0.5rem;
  align-items: center;
}

.department-heading:before {
  width: 2rem;
  flex-shrink: 0;
  content: "►";
  font-size: 0.75rem;
}

.department-heading:hover {
  color: hsl(43, 27.7%, 56.7%);
  transition: color 0.1s ease;
}

.department-courses {
  /* display: none; */

  padding-left: 0;
  color: #FFF;
  list-style: none;

  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(201, 77.9%, 32.0%);
}

.course-item {
}

.course {
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
}

.course-item:last-of-type > .course {
  padding-bottom: 0;
}

input[type="checkbox"] {
  width: 2rem;
  margin: 0;
  flex-shrink: 0;
}

/* .department-courses > li:hover {
  background-color: #988556;
  color: #FFF;
  transition: background-color 0.2s linear;
} */

label {
  cursor: pointer;
}

.course-title {
  font: 300 1rem "Open Sans", Helvetica, sans-serif;
  flex-basis: 16rem;
  flex-grow: 1;
}

.course-id {
  font: 300 0.75rem "Open Sans", Helvetica, sans-serif;
  flex-basis: 3rem;
  flex-grow: 0;
  margin-left: 0.5rem;
}

.course-department {
  display: none;
}

@media (min-width: 490px) {
  .course-department {
    display: initial;
  }

  .course-id {
    flex-basis: 5rem;
  }
}