form {
  width: 572px;
  margin-left: auto;
  margin-right: auto;

  color: #FFF;
}

fieldset {
  margin-top: 1rem;
  border: none;
}

legend {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid hsl(201, 77.9%, 32.0%);
  font: 300 1rem "Open Sans", Helvetica, sans-serif;
  text-align: center;
}

.department-list {
  margin-top: -1rem;
  list-style: none;
  padding: 0;
}

.department {
  margin-top: 1rem;
}

.department__heading {
  margin: 0;
}

.department__heading__button {
  display: block;
  font: 600 1.2rem "Open Sans", Helvetica, sans-serif;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
  transition: all 0.15s ease;
}

.department__heading__button:hover,
.department__heading__button:focus
{
  color: hsl(43, 47.7%, 66.7%);
}

.department__heading__button--toggled {
  color: hsl(43, 47.7%, 66.7%);
  font-size: 1.44rem;
}

.department:first-child .department__heading__button--toggled {
  margin-top: 0;
}

@media (max-width: 590px) {
  form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}